html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%; overflow: hidden
}
// html, body {margin: 0; height: 100%; overflow: hidden}

div.Home {
  position: relative;
  height: 100vh;
  background: black;
  > svg {
    path.graticule {
      // top: 50%;
      // transform: translateY(-50%);
      // position: absolute;
      // position: absolute;
      // top: 20px;
    }
    path {
      // fill: black;
    }
  }
  div.input-location {
    z-index: 10;
    position: absolute;
    margin-top: 50px;
    bottom: 35px;
    left: 35px;
    > div {
      display: inline-block;
      height: 30px;
      label {
        width: 30px;
        display: inline-block;
        text-align: right;
        font-size: 14px;
      }
      input {
        width: 80px;
        line-height: 20px;
        outline: none;
        text-indent: 5px;
        margin: 5px;
      }
    }
    div.add-location {
      margin-left: 10px;
      margin-top: 0px;
      text-align: center;
      width: 80px;
      height: 25px;
      line-height: 25px;
      text-transform: uppercase;
      font-size: 13px;
      color: white;
      background: navy;
      cursor: pointer;
      z-index: 10;
      &:hover {
        opacity: 0.8;
      }
    }
  }

}
